<section class="container__info">
	<div>
		<ul>
			<li>
				<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> This App was tested with
				and for NetSuite ERP Integration;
			</li>
			<li>
				<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> It's necessary to have a
				session in NetSuite ERP;
			</li>
			<li>
				<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> The details needed to
				perform the steps are all given by NetSuite. Refer to it's internal documentation;
			</li>
			<li>
				<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> Follow the steps numeric
				order. If not, the flow may break;
			</li>
			<li>
				<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> After retrieving the
				Tokens. They need to be used outside this App. Working to make it possible through the App;
			</li>
			<li>
				<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> Please report any issues
				through <a href="https://github.com/apintok/authflow" target="_blank">Github</a> repo;
			</li>
			<li>
				<box-icon color="#ff7000" type="solid" size="xs" name="chevron-right-circle"></box-icon> If any suggestions please
				feel free to reach out to me.
			</li>
		</ul>
	</div>
</section>
