<nav class="main__header">
	<% if(home) {%>
	<a href="/">Home</a>
	<% } %>
	<a href="https://oauth1.wp-api.org/docs/basics/Auth-Flow.html" target="_blank">oAuth 1.0</a>
	<a href="https://auth0.com/docs/authorization/which-oauth-2-0-flow-should-i-use" target="_blank">oAuth 2.0</a>
	<a href="https://github.com/apintok/authflow" target="_blank">Github</a>
</nav>
