<%- include('./partials/head') %>

		<%- include('./partials/nav') %>

		<div class="container">
			<!-- oAuth Flow 1.0 -->
			<div class="tile">
				<h2>oAuth Flow 1.0</h2>
				<p>
					The key to understanding how OAuth works is understanding the authorization flow. This is the process clients go
					through to link to a site. The flow with the OAuth plugin is called the three-legged flow, thanks to the three
					primary steps involved.
				</p>
				<div>
					<a class="btn" href="/v1/authflow/one">Troubleshoot</a>
				</div>
			</div>
			<!-- oAuth Flow 1.0 -->
			<div class="tile">
				<h2>oAuth Flow 2.0</h2>
				<p>
					The OAuth 2.0 Authorization Framework supports several different flows (or grants). Flows are ways of retrieving an
					Access Token. Deciding which one is suited for your use case depends mostly on your application type, but other
					parameters weigh in as well, like the level of trust for the client, or the experience you want your users to have.
				</p>
				<div>
					<a class="btn" href="/v1/authflow/two">Troubleshoot</a>
				</div>
			</div>
		</div>

		<%- include('./partials/footer') %>
	</body>
</html>
