<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<link rel="stylesheet" href="../css/main.css" />

		<title>oAuth 2.0 Flow</title>
	</head>
	<body>
		<h2>oAuth 2.0 Flow App</h2>
		<p>Use this app to test and understand the oAuth 2.0 flow.</p>
		<ul>
			<li>This App was tested with NetSuite ERP;</li>
			<li>On the Client Details provider, set the Redirect URI to <b>https://locahost:8080/v1/oauth2</b>;</li>
			<li>It's mandatory to use https!</li>
			<li>The intent of this app is to be used locally;</li>
			<li>To use the https module is necessary to have a OpenSSL key and certificate;</li>
			<li>Set your own app config variables;</li>
			<li>Please refer to the docs in <a href="#">Github</a> repo;</li>
			<li>There are 2 steps that are necessary to get the token. See below:</li>
		</ul>

		<section class="container__steps">
			<div class="container__form">
				<h4>Step 1 - GET Request to the Authorization Endpoint.</h4>

				<form action="/v1/oauth2" method="get">
					<label for="clientid">Client ID:</label><br />
					<input type="text" id="clientid" name="clientid" /><br />
					<label for="state">State:</label><br />
					<input type="text" id="state" name="state" /><br />
					<label for="redirect_uri">Redirect URI:</label><br />
					<input type="text" id="redirect_uri" name="redirect_uri" />

					<p>Scope:</p>

					<input type="checkbox" id="restlet" name="scope" value="restlets" />
					<label for="restlets"> Restlets</label><br />
					<input type="checkbox" id="rest_webservices" name="scope" value="rest_webservices" />
					<label for="rest_webservices"> Rest Web Services</label><br />

					<input type="submit" value="Authorize" />
				</form>
			</div>

			<div class="container__form">
				<h4>Step 2 - POST Request to the Token Endpoint.</h4>

				<form action="/v1/oauth2" method="post">
					<label for="code">Code:</label><br />
					<input type="text" id="code" name="code" value="<%= code.code %>" /><br />
					<label for="redirect_uri">Redirect URI:</label><br />
					<input type="text" id="redirect_uri" name="redirect_uri" /><br />

					<p>Grant Type:</p>

					<input type="checkbox" id="authorization_code" name="grant_type" value="authorization_code" checked />
					<label for="authorization_code"> Authorization Code</label><br />
					<input type="checkbox" id="refresh_token" name="grant_type" value="refresh_token" />
					<label for="refresh_token"> Refresh Token</label><br />

					<input type="submit" value="Get Token" />
				</form>
			</div>
		</section>

		<section class="container__token">
			<h4>Token Result</h4>
			<textarea name="token" id="token" cols="30" rows="10"><%= access_token %></textarea>
		</section>

		<script src="../js/index.js"></script>
	</body>
</html>
