@import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,400,300,600);

:root {
	--color-main: #008fff;
	--color-primary: #f9f9f9;
	--color-secondary: #ccc;
	--color-tertiary: #ff7000;
	--color-white: #fff;
	--color-black: #000;
}

* {
	box-sizing: border-box;
	margin: 0 auto;
}

body {
	font-family: 'Open Sans', Helvetica, Arial, sans-serif;
}

header {
	background-color: var(--color-main);
	color: var(--color-white);
	padding: 0.5rem;
}

header h2,
p {
	margin: 0.5rem auto;
}

header a {
	text-decoration: none;
	color: var(--color-white);
}

/* SECTION INFO */

.container__info {
	display: none;
	margin: 0.5rem auto;
}

.container__info ul {
	list-style-type: none;
}

.container__steps {
	display: grid;
	grid-template-columns: auto auto;
	grid-gap: 0.5rem;
	margin: 0.5rem;
}

.container__form {
	border: 1px solid var(--color-main);
	background-color: var(--color-primary);
	padding: 0.5rem;
	width: 100%;
}

.container__form h4 {
	margin: 0;
}

.input__group--params {
	border: none;
}

.input__group--params input {
	border-color: var(--color-secondary);
	border-radius: 1px;
	margin: 0.5rem auto;
	padding: 0.5rem;
	width: 100%;
}

.input__group--params input:focus {
	outline: 0;
	border-color: var(--color-main);
}

.input__group--scope {
	margin-bottom: 0.5rem;
}

.container__token {
	border: 1px solid var(--color-main);
	margin: 0 0.5rem;
	padding: 1rem;
}

.container__token--display {
	border: 1px solid var(--color-main);
	padding: 0.5rem;
}

.result__token {
	width: auto;
}

pre {
	white-space: pre-wrap; /* Since CSS 2.1 */
	white-space: -moz-pre-wrap; /* Mozilla, since 1999 */
	white-space: -pre-wrap; /* Opera 4-6 */
	white-space: -o-pre-wrap; /* Opera 7 */
	word-wrap: break-word; /* Internet Explorer 5.5+ */
}

footer p {
	font-size: 9px;
	margin: 0.5rem;
}

/* Button Styles */

.btn {
	color: var(--color-white);
	border: 1px solid var(--color-tertiary);
	border-radius: 0.3rem;
	background-color: var(--color-tertiary);
	padding: 0.5rem;
}

/* Special Classes */

.warning {
	display: none;
	color: red;
}
